<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <script src="../public/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include('./includes/header.ejs') %>
    <div class="banner">
        <img src="../public/images/home-banner.jpg" alt="">
        <div class="banner-text">
            <span>BOOKING TICKETS</span><br/>
            <span>FOR YOUR MOVIES</span>
        </div>
    </div>

</body>
</html>